<div class="row">
  <div class="col-md-3 col-md-offset-4">

    <form>
      <div class="form-group">
        <label for="serverName">Name (alias): </label>
        <input type="text" class="form-control" id="serverName" ng-model="server.name">
      </div>
      <div class="form-group">
        <label for="serverIp">IP: </label>
        <input ui-mask="999.999.999.999" type="text" class="form-control" id="serverIp" ng-model="server.ip">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>

  </div>
</div>
